.rank-main {
    background-color: #a677e2;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
}

.rank-main section {
    background-color: #ffff;
    margin: auto;
    width: 500px;
    height: 600px;
    border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    -ms-border-radius: 0 0 10px 10px;
    -o-border-radius: 0 0 10px 10px;
}

.rank-chart {
    width: 100%;
    height: 50%;
    position: relative;
    overflow: hidden;
    background-color: #673ab7;
    border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    -ms-border-radius: 0 0 10px 10px;
    -o-border-radius: 0 0 10px 10px;
}

.student-rank {
    width: 130px;
    height: 130px;
    background-color: #a577e288;
    border-radius: 50%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    -webkit-transform: translate(-50%, -30%);
    -moz-transform: translate(-50%, -30%);
    -ms-transform: translate(-50%, -30%);
    -o-transform: translate(-50%, -30%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.student-rank .outer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    background-color: #77b723;
    width: 100px;
    height: 30px;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -30%);
    -webkit-transform: translate(-50%, -30%);
    -moz-transform: translate(-50%, -30%);
    -ms-transform: translate(-50%, -30%);
    -o-transform: translate(-50%, -30%);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.student-rank .inner {
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #a677e2;
    width: 110px;
    height: 110px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    font-size: 1.6em;
}

.score-chart {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.40);
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    overflow: hidden;
}

.student-score {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #ffff;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    font-size: 1.6em;
}

.student-score p {
    margin-top: 20px;
}

.questions-analysis {
    display: flex;
    gap: 11px;
    margin: 20px;
    flex-direction: column;
}

.answers span {
    float: right;
}

.answers {
    padding: 10px;
    border: 2px solid #80808040;
    border-radius: 5px;
    font-weight: bold;
}

.action {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.action a {
    align-items: center;
    appearance: none;
    border-radius: 4px;
    border-width: 0;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

.action :first-child {
    background-color: #bbbb;
    color: #333;
}

.action a:hover :first-child {
    transform: translateY(-2px);
}

.action a:active :first-child {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

.action :last-child {
    background-color: orange;
    color: #ffff;
}

.action a:hover :last-child {
    transform: translateY(-2px);
}

.action a:active :last-child {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}